/* 
  Variables
  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #182c4c;
  line-height: 1.4;
  min-height: 100vh;
}

/*
    Typography
  */
h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
}

/* 
    Header
  */
.header {
  background-color: #929fb1;
  color: white;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  opacity: .8;
}

.logo {
  opacity: .8;
}

.fullpage {
  background: bottom center no-repeat url(../img/yosemite-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* 
    Main 
    */
.container {
  padding: 1em 1em 0 1em;
  height: 90vh;
}

.board-name {
  color: white;
  text-shadow: 1px 1px 10px gray;
}

.row {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 100;
}

/*
    Columns
    */
.column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #ebecf0;
  border-radius: 4px;
  margin-right: 1em;
  padding: 0.5em;
  min-width: 280px;
}

.column-body {
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}

.column-header {
  color: #182c4c;
  margin: .25em .75em;
  font-weight: 700;
}

/*
    Cards
    */
.card {
  background-color: #fff;
  padding: .5em .5em .5em .5em;
  margin: .75em .25em;
  border-radius: 4px;
  font-size: 0.9rem;
  border-bottom: 1px solid #b3b9c4;
  min-width: 280px;
  cursor: pointer;
  position: relative;
}

.card:hover {
  background-color: #f8f8f8;
}

.card:hover .fas {
  display: block;
}

.card-priority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.card-info__due-date {
  display: inline-block;
  background-color: #65bc55;
  padding: 0.25em 1em .25em .75em;
  border-radius: 4px;
  margin-right: .75em;
  color: white;
}

.card-info__due-date i {
  margin-right: .25em;
}

.card-info__checklist i {
  margin-right: 0.25em;
  color: #616d81;
}

.card .fas {
  color: #a1a1a1;
  position: absolute;
  top: 7px;
  right: 5px;
  display: none;
}

.card-edit {
  margin: 1em 0;
  border: 1px solid red;
  z-index: 110;
}

.edit-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-controls a {
  color: #b95548;
  margin-left: 1em;
}

.priority-green,
.priority-orange,
.priority-red {
  width: 40px;
  border-radius: 5px;
  height: 8px;
  margin: 0.25em 0.15em;
}

.priority-orange {
  background-color: #fd9f31;
}

.priority-green {
  background-color: #479438;
}

.priority-red {
  background-color: #e95b4c;
}

.due-date-red {
  background-color: #ea958a;
}

/* 
    Buttons 
    */
.btn {
  border: 0;
  padding: .5em .75em;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: .25em;
  color: #5f6d83;
}

.btn i {
  margin-right: .25em;
}

.btn:hover, .btn:focus {
  background-color: #d9dbe2;
  color: #182c4c;
  outline: none;
}

.add-list-btn {
  min-width: 220px;
  text-align: left;
}

.add-btn-green {
  background-color: #5dab4a;
  color: white;
}

.add-btn-green:hover,
.add-btn-green:focus {
  background-color: #5dab4a;
  color: white;
  opacity: .9;
}

.add-card-textarea {
  display: block;
  width: 97%;
  height: 70px;
  margin: .5em 2em .5em .25em;
  padding: .5em;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid #b3b9c4;
  font-family: 'Roboto', sans-serif;
  color: #182c4c;
}

.add-column-input {
  display: block;
  width: 97%;
  height: 30px;
  margin: .5em 2em .5em .25em;
  padding: .5em;
  border-radius: 4px;
  border: 1px solid #b3b9c4;
  font-family: 'Roboto', sans-serif;
  color: #182c4c;
}

.add-column-input:focus, .add-column-input:active {
  outline: none;
}

.add-card-textarea:focus,
.add-card-textarea:active {
  outline: none;
}

/* 
    Icons
    */
.icon-close {
  margin-left: 0.5em;
  cursor: pointer;
}

.column-add-form {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fall-down {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */